<table cellspacing="0" cellpadding="0" border="0" width="600" style="font-family:Arial;font-size:12px;color:#000000;border-collapse:inherit">
                  <tbody><tr>
                    <td width="600">
                      <table cellspacing="0" cellpadding="0" border="0" style="width:600px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#000000;background-color:#ffffff;border-collapse:inherit">
                        <tbody><tr>
                          <td style="width:348px">
                            <img src="" style="margin:0;padding:0;width:177px" height="54px">
                          </td>
                          <td style="width:252px;text-align:right;float:right">
                            <img src="https://ci3.googleusercontent.com/proxy/xv3sEvuuQbyp6ugQpF27Gcl-AVTPinWvhhPyEsG-bddbzpaXaamO_ytLrRH_qQyl6BJLs9bsz4NWqDx34w7A7usWoO-ftGYfH4EtZ_6C=s0-d-e1-ft#http://cnt.in.MyCompany.com/mailers/confmail/nytkct.jpg" style="margin:0;padding:0;width:242px;float:right" height="44px">
                            <br>
                            <span style="font-size:12px">Exchange this at the box office for your ticket.</span>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2" height="10">
                        </td></tr>
                        <tr>
                          <td style="font-size:12px" colspan="2" height="10">
									Dear <strong>Customer</strong> , </td>
                        </tr>
                        <tr>
                          <td colspan="2" height="10">
                        </td></tr>
                        <tr>
                          <td colspan="2">
                            <table cellspacing="0" cellpadding="0" style="width:600px;padding:0px;border:3px solid #afafaf;border-bottom:1px solid #afafaf;border-collapse:inherit">
                              <tbody><tr>
                                <td height="10" colspan="3">
                              </td></tr>
                              <tr>
                                <td style="width:273px;font-size:12px">
                                  <table cellspacing="0" cellpadding="0" style="width:258spx;font-size:12px">
                                    <tbody><tr>
                                      <td width="28">&nbsp;</td>
                                      <td style="width:230px;padding:3px 5px;border-radius:10px;border:2px solid #757575;font-size:12px" align="left">
                                        <img src="https://ci3.googleusercontent.com/proxy/7cZWerciCOGXCAIFNjPUavOzNWgVPIdpfTQ19K4K5QxSZcTbV_Krv44y9TJg66v72rf-LW63X5He1-dggQlx-V0i74wpQtWTVRfXs7zoY9I=s0-d-e1-ft#http://cnt.in.MyCompany.com/mailers/confmail/bckng-id.png" align="left" style="margin:0px;text-align:left;padding-left:2px" width="21px" height="16px" alt="">
                                        <span style="font-size:12px;font-family:Arial">BOOKING ID :</span>
                                        <span style="font-size:12px;font-family:Arial;font-weight:bold">$ticketSummary.bookingId</span>
                                        
                                      </td>
                                    </tr>
                                  </tbody></table>
                                </td>
                                <td style="width:250px">
                                  <img alt="" src="https://ci3.googleusercontent.com/proxy/nLtRrm70E8UR6F7QWA5_sjgDRy3lQ2gNyZB-qbs1sMi1QngsAzNAEZVZb_AYBByrNDhyMWhGZ3kq2N_72omoyPTkkmRRgKDrHLdbaqqucxJ7ycRyfiA3xYiefuQ-9wI0217Z_wItxtm5yA_Oh4Q2xTZ2p2eWNq5IIrbkVVMT=s0-d-e1-ft#http://in.MyCompany.com/common/phpbarcode/image.php?code=code128&amp;o=2&amp;t=30&amp;r=1&amp;text=WD3WN9E&amp;f=0&amp;a1=B&amp;a2=" style="float:right" width="250px" height="42px">
                                </td>
                                <td width="28">&nbsp;</td>
                              </tr>
                              <tr>
                                <td height="10" colspan="3">
                              </td></tr>
                            </tbody></table>
                          </td>
                        </tr>
                      </tbody></table>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" valign="top" style="padding:0px;width:600px;vertical-align:top" height="135px">
                      <table cellspacing="0" border="0" cellpadding="0" width="600">
                        <tbody><tr><td style="width:26px;margin:0;padding:0" valign="top" height="100%" background="https://ci3.googleusercontent.com/proxy/wFSvz0ERVg_P4AvVSgDkycn3SkDT8jIRTWLkiCyzYhqCaKUpdIdu69kW5yxZRrax0g=s0-d-e1-ft#http://background_image.png">
                          <img src="https://ci6.googleusercontent.com/proxy/a7UyOHSDeTEB5-7CC5S42acmGEIVmTeUTTPQwLqb_WHuSFFNv-5xYBWsvV1Y2gZQKEmFgAa2DUFf7xsTW266SMFgiSOBulehdw=s0-d-e1-ft#http://cnt.in.MyCompany.com/mailers/confmail/L.png" width="26" height="100%" style="margin:0;padding:0;display:block">
                        </td>
                        <td style="width:548px;overflow:hidden" valign="top" height="135px">
                          <table cellspacing="0" border="0" cellpadding="0" width="548px">
                            <tbody><tr>
                              <td height="115" valign="top" style="width:548px;padding-top:10px;padding-bottom:10px">
                                <table cellspacing="0" border="0" cellpadding="0" width="548">
                                  <tbody><tr>
                                    <td width="5" height="115">
                                    </td><td width="264" height="111" valign="top">
                                      <table width="264" cellspacing="0" cellpadding="0" style="border:2px solid #757575;border-radius:10px">
                                        <tbody><tr>
                                          <td height="55" style="width:264px;border-bottom:2px solid #757575;border-collapse:inherit">
                                            <table cellspacing="0" cellpadding="0" style="width:254px">
                                              <tbody><tr>
                                                <td style="vertical-align:top;padding-top:0px;padding:0px 5px;width:23px">
                                                  <img src="https://ci4.googleusercontent.com/proxy/ANbTqZBtfjp0IcP8c9dTxzn50UM3oFkFFzoyWGo7QkMNJRYjgEzYphHNsC0pSjkIGQrSn9m3cHnaNjwyU5gellwxcKTtUZ5nJq5WxbBfffyJ8A=s0-d-e1-ft#http://cnt.in.MyCompany.com/mailers/confmail/event-name.png" align="left" style="width:19px;margin:0px" height="20px">
                                                </td>
                                                <td style="font-size:12px;font-family:arial;text-align:left;font-weight:bold">$ticketSummary.movieName</td>
                                              </tr>
                                            </tbody></table>
                                          </td>
                                        </tr>
                                        <tr><td><u></u>
                                        </td></tr><tr>
                                          <td height="54" style="width:264px">
                                            <table cellspacing="0" cellpadding="0" style="width:254px">
                                              <tbody><tr>
                                                <td style="vertical-align:top;padding-top:0px;padding:0px 5px;width:23px">
                                                  <img src="https://ci5.googleusercontent.com/proxy/yxkE0sWTqM-QWZSjHX_--O31le-QwVHe32B-c-1GOyVotYbvjypKutADgp4aV1plNZFdwOzkGXBBcj-h9kD2SaoghzeHzy8V56QR0tl-1Q=s0-d-e1-ft#http://cnt.in.MyCompany.com/mailers/confmail/loc_icn.png" align="left" style="width:17px;margin:0px" height="19px">
                                                </td>
                                                <td style="font-size:12px;font-family:arial;text-align:left">
                                                  <span>$ticketSummary.theaterName: $ticketSummary.address ($ticketSummary.screenName)</span>,  $ticketSummary.city</td>
                                              </tr>
                                              <tr><td><div>
                                                
                                                
                                                
                                                
                                                
                                              </div>
                                            </td></tr></tbody></table>
                                          </td>
                                        </tr>
                                      </tbody></table>
                                    </td>
                                    <td width="10" height="115">
                                    </td><td width="264" height="111" valign="top">
                                      <table width="264" cellspacing="0" cellpadding="0" style="border:2px solid #757575;border-radius:10px">
                                        <tbody><tr>
                                          <td height="55" style="width:264px;border-bottom:2px solid #757575;border-collapse:inherit">
                                            <table cellspacing="0" cellpadding="0" style="width:254px">
                                              <tbody><tr>
                                                <td style="vertical-align:top;padding-top:0px;padding:0px 5px;width:23px">
                                                  <img src="https://ci6.googleusercontent.com/proxy/GFXZ_wXUu1sPjt0UcbJ2NZz4e1FpxDl6wxLdiwOIWLwD4WsdsW5GRHlc_zrTuU7oCHvp0MmDXlNX_Wd1xhmMF-fasBoFFXdmWfZ_5g=s0-d-e1-ft#http://cnt.in.MyCompany.com/mailers/confmail/seat.png" align="left" style="width:20px;margin:0px" height="20px">
                                                </td>
                                                <td style="font-size:12px;font-family:arial">$ticketSummary.seatClass -$ticketSummary.seatNumbers</td>
                                              </tr>
                                            </tbody></table>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td height="54" style="width:264px">
                                            <table cellspacing="0" cellpadding="0" style="width:264px">
                                              <tbody><tr>
                                                <td style="width:162px">
                                                  <table cellspacing="0" cellpadding="0" style="width:157px">
                                                    <tbody><tr>
                                                      <td style="vertical-align:top;padding-top:0px;padding:0px 5px;width:23px">
                                                        <img src="https://ci3.googleusercontent.com/proxy/TC911O6TG3wRGCgF6xOLH7w1mCpvwNHAhQtflt8LZ_FhofUaslXIDFs4DqELhAC1OzV_-mMalSft-t9XZ_zP4X0Zx_sT3gYOBU0cW13M=s0-d-e1-ft#http://cnt.in.MyCompany.com/mailers/confmail/calndr.png" align="left" style="width:23px;margin:0px" height="19px">
                                                      </td>
                                                      <td style="font-size:12px;font-family:arial">$ticketSummary.showDate</td>
                                                    </tr>
                                                  </tbody></table>
                                                </td>
                                                <td height="2" style="width:2px;background:#757575">
                                                </td><td style="font-size:12px;width:100px" height="54">
                                                  <table cellspacing="0" cellpadding="0" style="width:95px">
                                                    <tbody><tr>
                                                      <td style="vertical-align:top;padding-top:0px;padding:0px 0px 0px 5px;width:23px">
                                                        <img align="left" style="width:19px;margin:0px" src="https://ci5.googleusercontent.com/proxy/l9pEqRZzC0LkcCjv-2LQEd2wpml97Kay94I29OYJqcEHUTxp4SEsej8DlCg1vmGDy-VL6F_F6B5FKe3g_EV1xBjL9dsCFWhSeWQuQw=s0-d-e1-ft#http://cnt.in.MyCompany.com/mailers/confmail/clck.png" height="19px">
                                                      </td>
                                                      <td style="font-size:12px;font-family:arial">$ticketSummary.showStartTime</td>
                                                    </tr>
                                                  </tbody></table>
                                                </td>
                                              </tr>
                                            </tbody></table>
                                          </td>
                                        </tr>
                                      </tbody></table>
                                    </td>
                                    <td width="5" height="115">
                                  </td></tr>
                                </tbody></table>
                              </td>
                            </tr>
                          </tbody></table>
                        </td>
                        <td style="width:26px;margin:0;padding:0" valign="top" height="100%">
                          <img src="https://ci6.googleusercontent.com/proxy/3YpZ8AozSdgK17G4Vx4GoVDPV9mWNkBezeWgDHbfOBuMjy52z5KCOf2wjb7spy80IgmcofNAXlS9WoVvx-uSLMbD43HdgHJhiw=s0-d-e1-ft#http://cnt.in.MyCompany.com/mailers/confmail/R.png" width="26" height="100%" style="margin:0;padding:0;display:block">
                        </td>
                      </tr></tbody></table>
                    </td>
                  </tr>
                  <tr>
                    <td height="1" style="width:600px;background:#afafaf">
                  </td></tr>
                  <tr>
                    <td colspan="2" valign="top">
                      <table cellspacing="0" cellpadding="0" style="width:600px;padding:0px;border:3px solid #afafaf;border-top:0px solid #afafaf;border-bottom:0px solid #afafaf;border-collapse:inherit">
                        <tbody><tr>
                          <td height="10" colspan="3">
                        </td></tr>
                        <tr>
                          <td width="28">&nbsp;</td>
                          <td width="538" valign="top">
                            <table width="538" cellspacing="0" cellpadding="0">
                              <tbody><tr>
                                <td style="width:538px" align="left">
                                  <table width="344" cellspacing="0" cellpadding="0">
                                    <tbody><tr>
                                      <td style="padding:3px 5px;border-radius:10px;border:2px solid #757575;font-size:12px" valign="top">
                                        <span style="font-size:12px;font-family:Arial">Your Confirmation No. :</span>
                                        <span style="font-size:12px;font-family:Arial;font-weight:bold">$ticketSummary.confirmationId</span>
                                      </td>
                                      <td style="width:10px">
												&nbsp;
											</td>
                                      <td style="padding:3px 5px;border-radius:10px;border:2px solid #757575;font-size:12px" valign="top">
                                        <span style="font-size:12px;font-family:Arial">Your TPIN No./Kiosk Pick-up Code:</span>
                                        <span style="font-size:12px;font-family:Arial;font-weight:bold">$ticketSummary.bookingId</span>
                                      </td>
                                    </tr>
                                  </tbody></table>
                                </td>
                              </tr>
                              <tr>
                                <td height="10">
                              </td></tr>
                              <tr>
                                <td style="font-size:11px;font-family:Arial" valign="top">
                                  <span style="padding-bottom:10px;font-size:11px;font-family:Arial">
                                    <strong>Kiosk Ticket Pick-up Details:</strong>
                                  </span>
                                  <br>
                                  <br>Please use the Kiosk Pickup Barcode sent in the Confirmation SMS or key in the Pickup Id mentioned above at the venue to pick up your tickets from the <span class="il">MyCompany</span> Kiosk located on the Third Floor (near the Box Office)</td>
                              </tr>
                            </tbody></table>
                          </td>
                          <td width="28">&nbsp;</td>
                        </tr>
                        <tr>
                          <td height="10" colspan="3">
                        </td></tr>
                      </tbody></table>
                    </td>
                  </tr>
                  <tr>
                    <td height="1" style="width:600px;background:#afafaf">
                  </td></tr>
                  <tr>
                    <td height="2" style="width:600px;background:#afafaf">
                  </td></tr>
                  <tr>
                    <td colspan="2" height="10" style="width:600px">
                  </td></tr>

                  <tr>
                    <td style="width:600px" height="10">
                  </td></tr>
                  <tr>
                    <td colspan="2">
                      <table cellspacing="0" cellpadding="0" style="width:600px;font-size:11px">
                        <tbody><tr>
                          <td style="width:330px;font-size:12px" valign="top">
                            <table cellspacing="0" cellpadding="0" style="width:330px">
                              <tbody><tr>
                                <td style="padding-bottom:5px;font-size:11px;font-family:Arial">
                                      Booking Date &amp; Time : 	<strong>$ticketSummary.bookingTime</strong></td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:10px;font-size:11px;font-family:Arial">
                                      Payment Mode : <strong>$ticketSummary.paymentMode</strong></td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:10px;font-size:11px;font-family:Arial">
                                  <strong>IMPORTANT NOTES</strong>
                                </td>
                              </tr>
                              <tr>
                                <td style="line-height:15px;font-size:11px;margin:0px;font-family:Arial;padding-left:10px" colspan="2">Please use the Kiosk Pickup Barcode sent in the Confirmation SMS or key in the Pickup Id mentioned above at the venue to pick up your tickets from the <span class="il">MyCompany</span> Kiosk located on the Third Floor (near the Box Office)</td>
                              </tr>
                              <tr>
                                <td style="line-height:15px;font-size:11px;margin:0px;font-family:Arial;padding-left:10px" colspan="2">
                                        Tickets once booked cannot be exchanged, cancelled or refunded.<br>
                                        The Credit Card and Credit Card Holder must be present at the ticket counter while collecting the ticket(s).<br>
                                        3D Glasses are chargeable (refundable/non-refundable) as per individual cinema policies.<br>
                                        Delhi/ NCR: Children aged 3 years and above will require a separate ticket. Rest of the cities: Children aged 2 years and above will require a separate ticket.<br>
                                      Service Tax collected and paid to the department.<br>
                                      Business Auxiliary Services. PAN Based STC No. XXXXXXXXX.<br></td>
                              </tr>
                            </tbody></table>
                          </td>
                          <td style="width:20px">&nbsp;</td>
                          <td style="width:250px;font-size:12px" valign="top">
                            <table cellspacing="0" cellpadding="0" style="width:250px;border-radius:10px;border:2px solid #757575">
                              <tbody><tr>
                                <td style="padding:10px 10px 5px 10px;font-size:16px;font-family:Arial">
                                      Order Summary
                                    </td>
                              </tr>
                              <tr>
                                <td style="padding:0px 10px;font-size:13px;border-bottom:1px solid #adadad">
                                  <table cellspacing="0" cellpadding="0">
                                    <tbody><tr>
                                      <td style="width:120px;padding:5px 0px;font-size:12px;font-family:Arial">Ticket:</td>
                                      <td style="width:126px;padding:5px 0px;font-size:12px;font-family:Arial">Rs.$ticketSummary.orderSummary.ticketCost</td>
                                    </tr>
                                    <tr>
                                      <td style="width:120px;padding:5px 0px;font-size:12px;font-family:Arial">Discount:</td>
                                      <td style="width:126px;padding:5px 0px;font-size:12px;font-family:Arial">Rs.$ticketSummary.orderSummary.discount</td>
                                    </tr>
                                    <tr>
                                      <td style="width:120px;padding:5px 0px;font-size:12px;font-family:Arial">Internet handling fees:</td>
                                      <td style="width:126px;padding:5px 0px;font-size:12px">Rs.$ticketSummary.orderSummary.internetHandlingFee</td>
                                    </tr>
                                     <tr>
                                      <td style="width:120px;padding:5px 0px;font-size:12px;font-family:Arial">Other items:</td>
                                      <td style="width:126px;padding:5px 0px;font-size:12px">Rs.$ticketSummary.orderSummary.otherCharge</td>
                                    </tr>
                                  </tbody></table>
                                </td>
                              </tr>
                              <tr>
                                <td style="padding:5px 10px;font-size:11px">
                                  <table cellspacing="0" cellpadding="0">
                                    <tbody><tr>
                                      <td style="width:240px;font-size:11px;font-family:Arial">
                                        <span>Ticket Amount</span> : Rs.$ticketSummary.orderSummary.ticketCost
											+ Internet handling fees: Rs.$ticketSummary.orderSummary.internetHandlingFee (incl. of Service Tax)
											+ Additional Charge : Rs.$ticketSummary.orderSummary.additionalCharge
											+ Other Items : Rs.$ticketSummary.orderSummary.otherCharge
                                            - Discount :
                                            Rs.$ticketSummary.orderSummary.discount</td>
                                    </tr>
                                  </tbody></table>
                                </td>
                              </tr>
                              <tr>
                                <td style="padding:5px 10px;font-size:14px;border-top:2px solid #757575">
                                  <table cellspacing="0" cellpadding="0">
                                    <tbody><tr>
                                      <td style="width:240px;font-size:13px;text-align:center">
                                        <span style="font-size:18px;font-weight:bold;font-family:Arial">Rs.$ticketSummary.orderSummary.totalCost</span>
                                      </td>
                                    </tr>
                                  </tbody></table>
                                </td>
                              </tr>
                            </tbody></table><div class="im">
                            <table cellspacing="0" cellpadding="0" style="font-size:13px;font-weight:bold;width:250px">
                              <tbody><tr>
                                <td colspan="2" height="10">
                              </td></tr>
                              <tr>
                                <td colspan="2" style="font-family:Arial">For any further assistance</td>
                              </tr>
                              <tr>
                                <td colspan="2" height="6">
                              </td></tr>
                              <tr>
                                <td>
                                  <img src="https://ci3.googleusercontent.com/proxy/f5s3vewbScSAq35zpa3oNNWIf5Hfphil8WzIISXWOSkN5w8GK_m3BRH8SOLGEiyzvUz5QazCggJyS3mIM60-lz0gvVpinCsmhcHhVJE=s0-d-e1-ft#http://cnt.in.MyCompany.com/mailers/confmail/email.png" width="21px" height="20px" alt="">
                                </td>
                                <td>
                                  <a style="color:#0066ff;text-decoration:none;font-weight:bold;font-family:Arial" href="mailto:helpdesk@MyCompany.com" target="_blank">helpdesk@<span class="il">MyCompany</span>.com</a>
                                </td>
                              </tr>
                              <tr>
                                <td colspan="2" height="2">
                              </td></tr>
                              <tr>
                                <td style="padding-right:6px">
                                  <img src="https://ci4.googleusercontent.com/proxy/Wn1jUON8YONsqd3ZTVv-2zq3bg6IPYyDt7qEIabwTHtHLssoPmOfHHt0c_7XKXjSDzcqbCMT-2j7w1dUGsYB1mX_cjWzPMX4uteAFA=s0-d-e1-ft#http://cnt.in.MyCompany.com/mailers/confmail/call.png" width="21px" height="21px" alt="">
                                </td>
                                <td style="font-family:Arial">XXXX XXXXX
									</td>
                              </tr>
                            </tbody></table>
                          </div></td>
                        </tr>
                      </tbody></table>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" height="10" style="width:600px">
                  </td></tr>
                  <tr>
                    <td style="width:600px;margin-top:10px">
                      <div style="width:596px;float:left;border-radius:0px 0px 5px 5px;border:2px solid #cc4911">
                       
                      </div>
                    </td>
                  </tr>
                </tbody></table>